@owlabio:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D9365784-E76A-46AA-B6EE-35D393D24BD4