<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    .container{ display:flex; justify-content: center; flex-direction:column;
    align-items: center; } .cta{ display:block; padding: 10px 20px;
    background-color: dodgerblue; color:white; text-transform: uppercase;
    font-weight: bold; letter-spacing: 2px; border-radius: 4px; text-decoration:
    none; }
  </style>

  <body>
    <div class="container">

      <h2 class="bold">Vous avez été invité à utiliser l'application du CNRS</h2>
      <p>Veuillez cliquer sur le lien ci-dessous afin de terminer le processus
        de création de votre compte</p>

      <a class="cta" href={{invitationLink}}>Continuer la création de votre
        compte</a>
    </div>

  </body>
</html>