<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INOUI</title>
  </head>

  <style>
    .container{ display:flex; justify-content: center; flex-direction:column;
    align-items: center; } .cta{ display:block; padding: 10px 20px;
    background-color: dodgerblue; color:white; text-transform: uppercase;
    font-weight: bold; letter-spacing: 2px; border-radius: 4px; text-decoration:
    none; }
  </style>

  <body>
    <div class="container">
      <h2 class="bold">Email confirmation !</h2>

      <p>Enter this code to confirm your email,
        <br />
        The code will expire in 5 minutes.
      </p>
      <p class="cta">{{token}}</p>
    </div>

  </body>
</html>