<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNRS 1</title>
  </head>

  <style>
    .container{ display:flex; justify-content: center; flex-direction:column;
    align-items: center; } .cta{ display:block; padding: 10px 20px;
    background-color: dodgerblue; color:white; text-transform: uppercase;
    font-weight: bold; letter-spacing: 2px; border-radius: 4px; text-decoration:
    none; }
  </style>

  <body>
    <div class="container">
      <h2 class="bold">Réinitialiser votre mot de passe !</h2>

      <a class="cta" href="{{resetLink}}">Click on the link in order to reset
        your password</a>
    </div>

  </body>
</html>